$borderRadius5: 5px;
$borderRadius10: 10px;
$boxShadow: 0 0 10px rgb(148, 147, 147);
$cardWidth: 450px;
$cardHeight: 480px;
$headingFontSize: 30px;
$inputBorder: 0.5px solid rgb(150, 150, 150);
$inputBorderRadius: 5px;
$inputFontSize: 18px;
$inputWidth: 350px;
$inputHeight: 40px;
$inputMarginBottom: 20px;
$inputPaddingLeft: 15px;
$buttonFontSize: 20px;
$buttonWidth: 350px;
$buttonHeight: 40px;
$paragraphFontColor: rgb(109, 108, 108);
$themeColor: #4050b5;
$whiteColor: white;

.button {
  width: $buttonWidth;
  height: $buttonHeight;
  font-size: $buttonFontSize;
  margin-bottom: 15px;

  background-color: $themeColor;
  color: white;

  border: none;

  border-radius: $borderRadius5;

  &:hover {
    background-color: #303e9c;
  }
}

.buttondisabled {
  width: 350px;
  height: 40px;
  font-size: 20px;
  margin-bottom: 20px;
  background-color: #e4e6eb;
  color: black;
  border: none;
  border-radius: 5px;
  &:hover {
    background-color: #303e9c;
    color: white;
  }
}

.card {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  width: $cardWidth;
  height: $cardHeight;
  border-radius: $borderRadius10;
  box-shadow: $boxShadow;
}

.form_div {
  text-align: center;
  margin-top: 50px;
}

.heading_div {
  display: block;
  text-align: center;
}
.heading {
  font-size: $headingFontSize;
  color: $themeColor;
  margin-bottom: -5px;
  margin-top: 40px;
}

.hr_line {
  width: $buttonWidth;
  color: rgb(151, 151, 151);
}

.input {
  width: $inputWidth;
  height: $inputHeight;
  font-size: $inputFontSize;
  padding-left: $inputPaddingLeft;
  margin-bottom: $inputMarginBottom;

  border: $inputBorder;
  border-radius: $inputBorderRadius;

  &:focus {
    outline-color: $themeColor;
  }
}

.link {
  margin-left: 2px;
  text-decoration: none;
  color: $themeColor;
}

.main_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p {
  color: $paragraphFontColor;
  font-weight: lighter;
}
.input_error_p {
  color: transparent;
  white-space: pre-line;
}

//sass web-react/src/sass/changePassword.scss web-react/src/css/changePassword.module.css
